@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.results {
  display: none;
}

.show {display:block;}

input[type=text]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#gene_or_connection_results:hover {
  cursor: pointer;
}